@if (FiltersData != null)
{
    <div class="row justify-content-center">
        <div class="col-lg-5 text-center">
            <img src="/api/unturneditems/@ItemId/icon" style="max-width: 400px;">
            <h2 class="font-weight-bold">@UnturnedItem.ItemName</h2>
            <p>@UnturnedItem.ItemDescription</p>
        </div>
        <div class="col-lg-7">
            <DataList TData="MarketItem" Filters="FiltersData">
                <ul class="list-group">
                    @foreach (var marketItem in FiltersData.FilteredData)
                    {
                        <li class="list-group-item d-flex">
                            <div class="align-self-center">
                                @UnturnedItem.ItemName
                            </div>
                            <div class="ml-auto align-self-center font-weight-bold">
                                @marketItem.Price.ToString("C")
                            </div>
                            <div class="ml-2">
                                <button type="button" class="btn btn-primary btn-sm" @onclick="() => Modal.PreviewMarketItemAsync(marketItem)">
                                    More Info
                                </button>
                            </div>
                        </li>
                    }
                </ul>
                @if (FiltersData.DataCount == 0)
                {
                    <h3 class="text-center">No listings</h3>
                }
            </DataList>
        </div>
    </div>

    <MarketItemModal @ref="Modal" OnMarketItemBuy="(m) => MarketItemsService.BuyMarketItemAsync(m, FiltersData.RemoveFromOrigin)" />
}
else
{
    <ProgressBar />
}