@inherits LayoutComponentBase

<Navbar />

<div class="container mt-4 mb-4">
    @Body
</div>

<footer class="fixed-bottom footer">
    <div class="container">
        <span class="text-muted">Marketplace by <a target="_blank" href="https://restoremonarchy.com">RestoreMonarchy.com</a></span>
    </div>
</footer>
