@page "/account"

@if (UserInfo != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Account</li>
        </ol>
    </nav>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="rounded-circle" src="@UserInfo.SteamAvatarUrl" width="150" height="150" />
            </div>
            <div class="col-md-8">
                <h2 class="font-weight-bold">
                    @UserInfo.SteamName
                </h2>
                <h4 class="text-muted">
                    @UserInfo.SteamId
                </h4>
                <br />
                <h5>Manage</h5>
                <ul>
                    <li><a href="account/marketitems">Market Items</a></li>
                    <li><a href="account/transactions">Product Transactions</a></li>
                </ul>                
            </div>
        </div>
    </div>
} else
{
    <ProgressBar />
}
