@if (MarketItems != null)
{    
    <DataList TData="MarketItem" Filters="FiltersData">
        <ul class="list-group">
            @foreach (var market in FiltersData.FilteredData)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="pr-2 align-self-center">
                        <img src="/api/unturneditems/@market.ItemId/icon" style="max-height: 35px;">
                    </div>
                    <div class="align-self-center">
                        <span class="font-weight-bold">@market.ItemName</span>
                    </div>
                    <div class="ml-auto align-self-center">
                        <span class="font-weight-bold">@market.Price.ToString("C")</span>
                    </div>
                    <div class="ml-2">
                        <button type="button" class="btn btn-primary" @onclick="() => Modal.PreviewMarketItemAsync(market)">
                            More Info
                        </button>
                    </div>
                </li>
            }
        </ul>
    </DataList>

    <MarketItemModal @ref="Modal" OnMarketItemBuy="(m) => MarketItemsService.BuyMarketItemAsync(m, FiltersData.RemoveFromOrigin)" />
}
else
{
    <ProgressBar />
}