@if (Data != null)
{
    <DataList TData="UnturnedItem" Filters="Data">
        <ul class="list-group">
            @foreach (var item in Data.FilteredData)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <img src="/api/unturneditems/@item.ItemId/icon" style="max-height: 25px;">
                        </div>
                        <div class="col-8 mr-md-5" style="margin-left: -30px;">
                            <a href="/items/@item.ItemId">@item.ItemName</a>
                        </div>
                        <div class="col text-right">
                            <span class="badge badge-primary badge-pill">@item.MarketItemsCount</span>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </DataList>    
}
else
{
    <ProgressBar />
}