@page "/dashboard"
<div class="row">
    <div class="col-4">
        <div class="card text-white bg-primary mb-3 text-center" style="max-width: 18rem;">
            <div class="card-header">Unturned Items</div>
            <div class="card-body ">
                <h5 class="card-title">@unturnedItemsCount</h5>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-primary mb-3 text-center" style="max-width: 18rem;">
            <div class="card-header">Active Market Items</div>
            <div class="card-body">
                <h5 class="card-title">@marketItemsCount</h5>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-primary mb-3 text-center" style="max-width: 18rem;">
            <div class="card-header">Total Uconomy Balance</div>
            <div class="card-body">
                <h5 class="card-title">$@TotalBalance</h5>
            </div>
        </div>
    </div>
</div>