@page "/dashboard/products"

@if (Products != null)
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Enabled</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Products)
                {
                    <tr>
                        <th scope="row">@product.Id</th>
                        <td>@product.Title</td>
                        <td>@product.Price</td>
                        <td>@product.Enabled</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-outline-primary" type="button" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0)" @onclick="async () => await UpdateProductAsync(product)">Edit</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary" @onclick="CreateProductAsync">Create Product</button>
    <ProductModal @ref="FormModal" OnProductCreated="OnProductCreatedAsync" OnProductUpdated="OnProductUpdatedAsync" Servers="Servers" Commands="Commands" />
}
else
{
    <ProgressBar />
}