<li><b>Sight:</b> @(Sight != null ? Sight.ItemName : "none")</li>
<li><b>Tactical:</b> @(Tactical != null ? Tactical.ItemName : "none")</li>
<li><b>Grip:</b> @(Grip != null ? Grip.ItemName : "none")</li>
<li><b>Barrel:</b> @(Barrel != null ? Barrel.ItemName : "none")</li>
<li><b>Magazine:</b> @Ammo/@(Magazine != null ? Magazine.Amount : 0)</li>


@code {
    [Parameter]
    public int GunId { get; set; }

    [Parameter]
    public byte[] Metadata { get; set; }

    [Inject]
    public HttpClient HttpClient { get; set; }

    public UnturnedItem Sight { get; set; }
    public UnturnedItem Tactical { get; set; }
    public UnturnedItem Grip { get; set; }
    public UnturnedItem Barrel { get; set; }
    public UnturnedItem Magazine { get; set; }

    public byte Ammo { get; set; }

    private byte[] currentMetadata;

    protected override async Task OnParametersSetAsync()
    {
        if (currentMetadata == Metadata)
            return;

        Sight = null;
        Tactical = null;
        Grip = null;
        Barrel = null;
        Magazine = null;
        Ammo = 0;

        ushort sightId = BitConverterExtras.Get<ushort>(Metadata, 0);
        ushort tacticalId = BitConverterExtras.Get<ushort>(Metadata, 1);
        ushort gripId = BitConverterExtras.Get<ushort>(Metadata, 2);
        ushort barrelId = BitConverterExtras.Get<ushort>(Metadata, 3);
        ushort magazineId = BitConverterExtras.Get<ushort>(Metadata, 4);
        Ammo = Metadata[10];

        if (sightId != 0)
            Sight = await HttpClient.GetFromJsonAsync<UnturnedItem>($"api/unturneditems/{sightId}");
        if (tacticalId != 0)
            Tactical = await HttpClient.GetFromJsonAsync<UnturnedItem>($"api/unturneditems/{tacticalId}");
        if (gripId != 0)
            Grip = await HttpClient.GetFromJsonAsync<UnturnedItem>($"api/unturneditems/{gripId}");
        if (barrelId != 0)
            Barrel = await HttpClient.GetFromJsonAsync<UnturnedItem>($"api/unturneditems/{barrelId}");
        if (magazineId != 0)
            Magazine = await HttpClient.GetFromJsonAsync<UnturnedItem>($"api/unturneditems/{magazineId}");

        currentMetadata = Metadata;
    }
}
