
<div class="modal fade" id="@nameof(ExecuteCommandModal)" tabindex="-2" role="dialog">
    <div class="modal-dialog modal-dialog-centered bg-dark" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Command</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @if (ModelCommand != null)
            {
                <EditForm Model="ModelCommand" OnValidSubmit="SubmitCommandAsync">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Command Type</label>
                            <InputSelect class="form-control" @bind-Value="ModelCommand.CommandType">
                                <option value="GAME_COMMAND">Game Command</option>
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label>Command</label>
                            <InputText class="form-control" @bind-Value="ModelCommand.PurchaseCommand" />
                            <small class="form-text text-muted">
                                Available variables: {STEAMID}, {STEAMNAME}, {PRICE}
                            </small>
                        </div>
                        <div class="form-group">
                            <label>Expire Command</label>
                            <InputText class="form-control" @bind-Value="ModelCommand.ExpireCommand" />
                            <small class="form-text text-muted">
                                Available variables: {STEAMID}, {STEAMNAME}, {PRICE}
                            </small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </EditForm>
            }   
            </div>
    </div>
</div>

@code {
    [Parameter]
    public List<ExecuteCommand> Commands { get; set; }
    [Parameter]
    public EventCallback<List<ExecuteCommand>> CommandsChanged { get; set; }

    [Inject]
    public IJSRuntime JsRuntime { get; set; }

    private ExecuteCommand ModelCommand { get; set; }

    public async Task CreateCommand()
    {
        ModelCommand = new ExecuteCommand() { CommandType = "GAME_COMMAND" };
        await JsRuntime.ToggleModalAsync(nameof(ExecuteCommandModal));
    }

    public async Task EditCommand(ExecuteCommand command)
    {
        ModelCommand = command;
        await JsRuntime.ToggleModalAsync(nameof(ExecuteCommandModal));
    }

    public async Task SubmitCommandAsync()
    {
        if (!Commands.Contains(ModelCommand))
        {
            Commands.Add(ModelCommand);
        }
        await JsRuntime.ToggleModalAsync(nameof(ExecuteCommandModal));
    }
}
